/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #84FFC9 #EDEDED;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #EDEDED;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #84FFC9;
    border-radius: 4px;
    border: 0px none #ffffff;
    height: 4px;
  }
/* ===== end of Scrollbar CSS ===== */

body {
    padding-top: 56;
}

/* === NAV BAR === */

.navbar {
    background:transparent;
    backdrop-filter: blur(10px);
    
    transition: all 0.5s;
}

.navbar .container-fluid {
    margin-left: 5rem;
    margin-right: 3rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #1E1234;
    margin-right: 2rem;
}

.navbar-scrolled {
    background-color: #E2DAEB;
}

/* === end of NAV BAR === */


/* === start of HOME === */
section#home {
    background-image: url(../image/noise-bg.png);
    height: 100vh;
    color: #1E1234;
}

.backgroundBlobs {
    background:url('../image/colorblobs.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

svg {
    width:  auto;
    height: auto;
}

.greeting {
    padding-top: 15rem;
    color: #1E1234;
}

.greeting .greet {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
}

.greeting .name {
    padding-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.greeting span {
    font-weight: 700;
}

.greeting h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
}
/* === end of HOME === */

/* === start of ABOUT === */
section#about {
    background-image: url(../image/noise-bg.png);
    height: auto;
    color: #1E1234;
}

.aboutme {
    padding: 2.5rem;
    border-radius: 1em;
}

.aboutme:hover {
    background-color: #E1DAEB;
    transition: all 0.5s;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-style: italic;
    font-size: 2em;
}

.content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    width: auto;
}
/* === end of ABOUT === */

/* === start of WORKS === */
section#works {
    background-image: url(../image/noise-bg.png);
    height: auto;
    color: #1E1234;
}

.works {
    padding: 2.5rem;
    border-radius: 1em;
}

.works a, .content a {
    color: #1B1325;
    text-decoration: none;
}

.content a {
    color: #1B1325;
    text-decoration: none;
}

.works a:hover {
    color: #67568C;
    transition: all 0.5s;
    cursor: pointer;
}

.content a:hover {
    color: #67568C;
    transition: all 0.5s;
    cursor: pointer;
}

#title {
    font-size: 3em;
    color:#1B1325;
    text-align: center;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: #67568C;
}

#image {
    width: auto;
    height: auto;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 600px;
    text-align: center;
    padding: 20px;
}
/* === end of WORKS === */

footer {
    background-color: #E2DAEB;
    backdrop-filter: blur(10px);
    width: 100%;
    color: #1B1325;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    padding: 10px;
    text-align:center;
}

footer p{
    margin: 0;
    padding: 0;
}